{
	"extends": [
		"airbnb-typescript"
	],
	"rules": {
		"indent": ["error", "tab"],
		"@typescript-eslint/indent": ["error", "tab"],
		"react/jsx-indent": ["error", "tab"],
		"react/jsx-indent-props": ["error", "tab"],
		"no-tabs": ["error", { "allowIndentationTabs": true }]
	}
}